<form class="form-group col-sm-7 col-sm-offset-3" method="post" enctype="application/json">
  <div class="row input-group">
    <label for="nome" class="input-group-addon">Nome</label>
    <input type="text" ng-model="aluno.nome" id="nome" class="form-control">
  </div>
  <div class="row input-group">
    <label for="address" class="input-group-addon">RA</label>
    <input type="text" ng-model="aluno.ra" id="address" class="form-control">
  </div>
  <div class="row input-group">
    <label for="date" class="input-group-addon">Endereco</label>
    <input type="text" ng-model="aluno.endereco" id="date" class="form-control">
  </div>
  <div class="row input-group">
    <label for="value" class="input-group-addon">E-mail</label>
    <input type="text" ng-model="aluno.email" id="value" class="form-control">
  </div>
  <div class="row input-group">
    <label for="paid" class="input-group-addon">CPF</label>
    <input type="text" ng-model="aluno.cpf" id="paid" class="form-control">
  </div>
  <div class="row input-group">
    <label for="description" class="input-group-addon">Nascimento</label>
    <input type="date" ng-model="aluno.nascimento" id="description" class="form-control">
  </div>
  <div class="row" style="float: right">
    <a href="#" class="btn btn-primary" ng-click=criarAluno(aluno)>Adicionar!</a>
  </div>
</form>
