<section class="row">
  <form class="form-group col-sm-7 col-sm-offset-3" method="get" ng-show='searchAluno=true'>
    <div class="row input-group">
      <label for="nome" class="input-group-addon">Nome:</label>
      <input type="text" ng-model="q.nome" id="nome" class="form-control">
    </div>
    <div class="row input-group">
      <label for="ra" class="input-group-addon">RA:</label>
      <input type="text" ng-model="q.ra" id="ra" class="form-control">
    </div>
    <div class="row" style="float: right">
      <a href="" class="btn btn-primary" ng-click=buscarAluno(q)>Buscar!</a>
    </div>
  </form>
</section>

<section ng-show='hideAluno' class="row">
  <h2>Dados do aluno!</h2>
  <form class="form-group col-sm-7 col-sm-offset-3" method="put" ng-model='aluno' enctype="application/x-www-form-urlencoded">
    <div class="row input-group">
      <label for="nome" class="input-group-addon">Nome</label>
      <input type="text" ng-model='aluno.nome' id="name" value="aluno.nome" class="form-control">
    </div>
    <div class="row input-group">
      <label for="ra" class="input-group-addon">RA</label>
      <input type="text" ng-model='aluno.ra' id="ra" value="aluno.ra" class="form-control">
    </div>
    <div class="row input-group">
      <label for="endereco" class="input-group-addon">Endereco</label>
      <input type="text" ng-model='aluno.endereco' id="endereco" value="aluno.endereco" class="form-control">
    </div>
    <div class="row input-group">
      <label for="email" class="input-group-addon">E-mail</label>
      <input type="text" ng-model='aluno.email' id="email" value="aluno.email" class="form-control">
    </div>
    <div class="row input-group">
      <label for="cpf" class="input-group-addon">CPF</label>
      <input type="text" ng-model='aluno.cpf' id="cpf" value="aluno.cpf" class="form-control">
    </div>
    <div class="row input-group">
      <label for="nascimento" class="input-group-addon">Nascimento</label>
      <input type="text" ng-model='aluno.nascimento' id="nascimento" value="aluno.nascimento" class="form-control">
    </div>
    <div class="row" style="float: right">
      <a href="#" class="btn btn-primary" ng-click=atualizarAluno(aluno)>Atualizar!</a>
    </div>
  </form>
</section>
